/* Définition de la variable */
$primary-color: yellow;

/* Mixin */
@mixin button($color: red) {
  display: table;
  padding: 5px;
  border: 1px solid $color;
  border-radius: 8px;
}

header {
  h1 {
    color: red;
    /* Utilisation de la variable */
    border-bottom: 1px solid $primary-color;
  }
  h2 {
    @include button(blue);
  }
}
footer {
  p {
    @include button(green);
  }
}
